@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

nav{
  height: 3em;
  font-weight: lighter;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
  position: relative; 
  width: 100%;
  background-color: white;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li{
  padding:10px 40px;
  font-size: 1.3em;
  color: rgb(0, 140, 255);
  transition: .2s;
}

nav li:hover{
  color: rgb(149, 207, 255);
  cursor: pointer;
}

header{
  background-repeat: no-repeat;
  background-size: 100%;
}

header h1{
  display: none;
}

header img{
  width: 100%;
}

h2{
  text-align: center;
  margin-top: 1.5em;
  font-size: 4em;
  color: rgb(21, 102, 179);
}

#circulos{
  padding: 10px;
  background-color: rgb(241, 241, 241);
  width: 100em;
  height: 20em;
  margin: auto;
  margin-top: 2em;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#circulos ul{
  margin-top: 2.5em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#circulos img{
  width: 40%;
  opacity: .8;
  display: block;
  margin: auto;
  transition: .2s;
}

#circulos img:hover{
  opacity: 1;
  cursor: pointer;
}

#circulos .divisoria p{
 text-align: center;
 margin-top: .5em;
 font-size: 1.3em;
 color: rgb(63, 139, 190);
 font-weight: normal;
}


footer{
  text-align: center;
  background-color: rgb(108, 180, 228);
  margin-top: 5em;
  height: 25vh;
  font-size: 1.2em;
  color: white;
  font-weight: lighter;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer #margin{
  padding-top: 5em;
}



